<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d600cb7-0544-4631-9116-27e1e1f3343f/resourceGroups/HPC/providers/Microsoft.Web/sites/GetWebAPI</ResourceId>
    <UserName>$GetWebAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://getwebapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>